<a href="https://colab.research.google.com/github/Srijanee21231/Basic-python-Programs/blob/main/ACB_Assignment_2_Srijanee_Gupta_MT21231.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name: Srijanee Gupta**

**Roll No. MT21231**

**Mtech CB | 2021-2023**

## ***Code for computing profile matrix of a set of DNA sequences.***


Given that you have N sequences of DNA and each with L characters, (i)
write a code for computing the profile matrix. (ii) Compute the consensus
string. Print profile matrix and consensus string. In the case of equal
frequency for different nucleotides, use the first entry in this order, ATCG to
construct your consensus motif.
Your program should read N, L and DNA sequences as given below.
Example Inputs:

7

8

gcggaaga

atctttct

gtcacgag

taaaagat

gtagattc

tatacttt

ctctgccg

In [2]:
#Import Libraries
import re
import numpy as np
import pandas as pd

import os

In [3]:
# Python program to convert a list of integers into a single integer
def convertList(list):
      
    # Converting integer list to string list
    string = [str(i) for i in list]
      
    # Join list items using join()
    result = int("".join(string))
      
    return(result)

#Checking if user input is a valid DNA sequence
def validSeq(seq):
    valid = 'ACTGatgc'
    for letter in seq:
        if letter not in valid:
            return False
    return True

In [4]:
#Taking input from user
lst = []

#Exception Handling
while True:
    try:
        option = int(input("Would you like to input a file or input sequences and other information manually?: 1. FILE    2. MANUAL INPUT  "))
    except ValueError:
        print("Sorry, I didn't understand that.")
        continue

    if option > 2 or option < 1:
        print("Sorry, Invalid response. Try Again!")
        continue
    else:
        break

#Storing sequences and information in variables as per input        
if(option == 2):

  N = int(input("WELCOME!! \n Please enter the number of DNA sequences you will provide us: "))
  L = int(input("What should be the length of these sequences? "))

  while len(lst) < N:
    dna = input("input your sequence:")
    
    if validSeq(dna)==True:

      if len(dna) == L:
        lst.append(dna)
      elif(len(dna) > L):
        print("Length of sequence is longer than predecided length. try again!")
        continue
      elif(len(dna) < L):
        print("Length of sequence is shorter than predecided length. try again!")
        continue
    else:
      print("INVALID ENTRY!! TRY AGAIN!!")
      continue

elif(option==1):
  print("WELCOME!! \n")
  #Set Directory
  dir = input("Enter your directory: ")     #/content/drive/MyDrive/Colab Notebooks
  os.chdir(dir)
  #Enter File Name
  file_name = input("Enter file name(without extension): ")
  extension = input("Enter file extension")
  read_file = pd.read_csv (file_name+'.'+extension,sep='delimiter')
  read_file.to_csv (file_name+'.csv', index=None)

  df1 = pd.read_csv(file_name+".csv",sep='delimiter',header = None,index_col=False,engine='python')
  df1 = df1.transpose()
  lst = df1.iloc[: , 1:]
  lst = lst.values.tolist() #fix this
  
  
  df1 = df1[0].str.split(" ", n =1000 , expand = True)
  N = df1[0]
  N=N.tolist()
  N=convertList(N)
  L = df1[1]
  L=L.tolist()   
  L=convertList(L)
  lst = np.reshape(lst, N)

else:
  print("INVALID ENTRY!! TRY AGAIN")
  

print(N)

print(L)

print(lst)
print("/n")

Would you like to input a file or input sequences and other information manually?: 1. FILE    2. MANUAL INPUT  1
WELCOME!!

Enter your directory: /content/drive/MyDrive/Colab Notebooks
Enter file name(without extension): profile
Enter file extensioninp

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

7
8
['gcggaaga' 'atctttct' 'gtcacgag' 'taaaagat' 'gtagattc' 'tatacttt'
 'ctctgccg']
/n

In [5]:
#Storing input in dataframe
df = pd.DataFrame(lst)

#splitting sequecnes into nucleotides and storing in another dataframe
df2 = df[0].str.split("", n =1000 , expand = True)

#Removing 1st and last column as they are empty
df2 = df2.iloc[: , :-1]
df2 = df2.iloc[: , 1:]

#Empty list to store count of each nucleotide in each position
value=[]

#For loop to count nucleotides in sequences
for i in range(1,L+1):
  col = [x for x in df2[i]]
  countA = col.count('A')
  countT = col.count('T')
  countG = col.count('G')
  countC = col.count('C')
  counta = col.count('a')
  countt = col.count('t')
  countg = col.count('g')
  countc = col.count('c')
  A=countA+counta
  T=countT+countt
  G=countG+countg
  C=countC+countc

  countlist  = [A,T,G,C]
  value.append(countlist)

#PROFILE MATRIX DATAFRAME
profile_matrix = pd.DataFrame(value,columns=['A', 'T', 'G','C'])

profile_matrix.index +=1


#Finding consensus sequence from profile matrix

consensusdf = pd.DataFrame()
consensusdf['Max'] = profile_matrix.idxmax(axis=1)
profile_matrix['Max'] = profile_matrix.idxmax(axis=1)

l =[]
l = consensusdf.values.tolist()
s1=''.join(str(v) for v in l)
s1=s1.replace("'['","")
s1 = s1.replace("']['","")
consensus = s1.replace("']'","")

In [6]:
print("PROFILE MATRIX IS:\n")
print(profile_matrix.transpose())
print("\n")
print("CONSENSUS SEQUENCE IS: ",consensus)

PROFILE MATRIX IS:

     1  2  3  4  5  6  7  8
A    1  2  2  3  3  1  2  1
T    2  4  1  2  1  3  2  3
G    3  0  1  2  1  2  1  2
C    1  1  3  0  2  1  2  1
Max  G  T  C  A  A  T  A  T


CONSENSUS SEQUENCE IS:  ['GTCAATAT']

In [7]:
#Scoring Motifs
maxValues = profile_matrix.max(axis=1)
score =maxValues.sum()
print("Motif Score = ",score)

Motif Score =  24

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [47]:
# Hamming distance
def hammingDist(str1, str2):
    i = 0
    count = 0
 
    while(i < len(str1)):
        if(str1[i] != str2[i]):
            count += 1
        i += 1
    return count


from itertools import combinations
combi=[",".join(map(str, comb)) for comb in combinations(lst, 2)]
df = pd.DataFrame(columns=['seq1', 'seq2', 'dist',])
v=[]

# Driver code 
df = pd.DataFrame(combi)
split_data = df[0].str.split(",")
data = split_data.to_list()
names = ["Seq1", "Seq2"]
new_df = pd.DataFrame(data, columns=names)

for i in range(len(new_df)):
  str1 = new_df.Seq1[i]
  str2 = new_df.Seq2[i]
  res = [hammingDist(str1, str2)]
  v.append(res)
#print(hammingDist(str1, str2))
dist = pd.DataFrame(v,columns=['dist'])

new_df['dist(No. of mismatch)'] = dist
new_df

        Seq1      Seq2  dist(No. of mismatch)
0   gcggaaga  atctttct                      8
1   gcggaaga  gtcacgag                      7
2   gcggaaga  taaaagat                      7
3   gcggaaga  gtagattc                      5
4   gcggaaga  tatacttt                      8
5   gcggaaga  ctctgccg                      8
6   atctttct  gtcacgag                      6
7   atctttct  taaaagat                      7
8   atctttct  gtagattc                      6
9   atctttct  tatacttt                      6
10  atctttct  ctctgccg                      4
11  gtcacgag  taaaagat                      5
12  gtcacgag  gtagattc                      6
13  gtcacgag  tatacttt                      6
14  gtcacgag  ctctgccg                      5
15  taaaagat  gtagattc                      6
16  taaaagat  tatacttt                      4
17  taaaagat  ctctgccg                      8
18  gtagattc  tatacttt                      6
19  gtagattc  ctctgccg                      7
20  tatacttt  ctctgccg                      8